.comment {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment-username {
    font-weight: bold;
  }
  
  .comment-date {
    font-size: 0.8rem;
    color: #888;
  }