.container {
  display: inline-block;
  flex-wrap: wrap;
}

/* .left-side {
  flex: 0 0 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.right-side {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
} */

.post {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.post-username {
  color: #0a7654;
  margin-right: 5px;
}

.post-date {
  color: #999;
  font-size: 0.8rem;
}

.post-message {
  color: #0a7654;
  margin-bottom: 10px;
}

.post-image {
  max-width: 50%;
  height: 30%;
  margin-bottom: 10px;
}

.post-link {
  color: #1e90ff;
}

.right-side::-webkit-scrollbar {
  width: 6px;
}

.right-side::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.right-side::-webkit-scrollbar-thumb {
  background: #888;
}

.right-side::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.feed-profile-photo {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    flex: 0 0 100%;
    border-right: none;
  }

  .right-side {
    flex: 0 0 100%;
  }
}

.heart-like-button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none
}

.heart-like-button:before {
  position: absolute;
  top: 0;
  left: 20px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 17px;
  height: 25px;
  border-radius: 10px 10px 0 0;
  background-color: #e1aed5;
  content: "";
  cursor: pointer;
  transition: background .4s;
;
}

.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 4px;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 17px;
  height: 25px;
  border-radius: 10px 10px 0 0;
  background-color: #e1aed5;
  content: "";
  cursor: pointer;
  transition: background .4s;
} 

h1 {
  margin: 0;
  color: #574136;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #d65076;
}

.heart-like-button.liked {
  animation: liked .4s ease;
}

@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
