.post {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  color: #000;
}

.post-header {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.post-header a {
  z-index: 100;
  text-decoration: none;
  color: black;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header > .username {
  display: flex;
  align-items: center;
}

.post-content a {
  color: black;
}

.post-date {
  color: #aaaaaa;
}

.post-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post-likes {
  margin-bottom: 10px;
}

.likes-count {
  font-weight: bold;
  color: #f21847;
}

.post-footer {
  text-align: right;
}

/* .post-link {
  color: #166fe5;
  text-decoration: none;
} */

.post-link:hover {
  text-decoration: underline;
}

.posts:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.posts:active {
  background-color: #0a7654;
}

.post:hover {
  background-color: #f2f2f2;
}

.heart-like-button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none
}

.heart-like-button:before {
  position: absolute;
  top: 0;
  left: 20px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 17px;
  height: 25px;
  border-radius: 10px 10px 0 0;
  background-color: #e1aed5;
  content: "";
  cursor: pointer;
  transition: background .4s;
;
}

.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 4px;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 17px;
  height: 25px;
  border-radius: 10px 10px 0 0;
  background-color: #e1aed5;
  content: "";
  cursor: pointer;
  transition: background .4s;
} 

h1 {
  margin: 0;
  color: #574136;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #d65076;
}

.heart-like-button.liked {
  animation: liked .4s ease;
}

@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
